<slr-loader></slr-loader>
<div class="base-layout">
  <slr-header [dropdownActive]="true" [colapsableSidebar]="false">
    <button ngbDropdownItem>Action - 1</button>
  </slr-header>
  <slr-sidebar-mobile *ngIf="isMobile">

    <label class="image-item">
      <img class="lg-logo" src="assets/img/logo-lg.png" />
    </label>
    <div class="list-group border-top">
      <a href="#" class="list-group-item list-group-item-action">Opción 1</a>
      <a href="#" class="list-group-item list-group-item-action">Opción 2</a>
      <a href="#" class="list-group-item list-group-item-action">Opción 3</a>
    </div>
    <div class="list-group border-top">
      <a href="#" class="list-group-item list-group-item-action">Configuracion</a>
      <a href="#" class="list-group-item list-group-item-action">Cerrar Sesión</a>
    </div>
  </slr-sidebar-mobile>

  <div class="d-flex flex-row align-items-stretch h-100">
    <div class="d-none d-lg-flex overflow-auto">
      <slr-sidebar>
        <ng-container ngProjectAs="full-sidebar">
          <div class="list-group list-open-toggle">
            <a href="#" class="list-group-item list-group-item-action active">
              Cras justo odio
            </a>
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
          </div>
        </ng-container>
        <ng-container ngProjectAs="small-sidebar">
          <div class="list-group list-close-toggle">
            <a href="#" class="list-group-item list-group-item-action active">
              Cr
            </a>
            <a href="#" class="list-group-item list-group-item-action">D</a>
            <a href="#" class="list-group-item list-group-item-action">M</a>
            <a href="#" class="list-group-item list-group-item-action">P</a>
            <a href="#" class="list-group-item list-group-item-action disabled">V</a>
          </div>
        </ng-container>
      </slr-sidebar>
    </div>
    <div class="flex-grow-1 h-100 overflow-auto pt-5" #scrolledElement>
      <div class="container-fluid">
        <!--       <router-outlet></router-outlet> -->
        <div class="form-group">
          <input class="form-control" placeholder="Search..." #input>
        </div>

      </div>
    </div>

    <slr-footer>
      <ng-container ngProjectAs="regular-footer">
        <label>Mail &nbsp;</label>
        <label> Phone &nbsp;</label>
        <label>Other Info</label>
        <label> &nbsp; Version:</label>
      </ng-container>
      <ng-container ngProjectAs="mobile-footer">
      </ng-container>
    </slr-footer>
  </div>
